a {
  color: #00B7FF;
}

a:hover {
  color: #00B7FF;
  text-decoration: underline;
}

body {
  background-color: #fff6ed;
  font-family: 'Open Sans', sans-serif;
}

form {
  padding: 50px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

ul {
  margin-top: 50px;
  margin-right: 50px;
  list-style-type: none;
 }

.btn-home {
 background: #F46781;
 color: white;
}

.btn-home:hover {
 background: #f24d6b;
 color: white;
}

.btn-secondary {
 background: #FF9D70;
 color: white;
}

.btn-secondary:hover {
 background: #ff8954;
 color: white;
}

.container {
background-color: white;
border-radius: 20px;
padding: 20px;
}

.edit-item {
   color: #64d151;
 }

.edit-user {
   color: gray;
   text-decoration: underline;
   font-weight: normal;
   font-size: 14px;
 }

.delete {
 color: #f5989d;
}

.delete:hover {
color: #f5989d;
text-decoration: underline;
}

.header {
   color: #444;
 }

.header:hover {
   text-decoration: none;
   color: #444;
 }

.heart {
   color: #E41138;
 }

.jumbotron {
 background-image: url("../images/sunflower.jpg");
 padding: 50px;
 color: #444;
 margin-bottom: 0;
}

.message {
 font-family: 'Dancing Script', cursive;
 font-size: 40px;
 color: #666666;
}

.my-name {
  float: right;
}

.nav-btn {
   position: absolute;
   right: 10px;
   top: 10px;
 }

.show {
   margin-top: 10px;
   list-style-type: none;
  }
