body {
  background-color: #fff6ed;
}

form {
  padding: 50px;
}

a {
  color: #00B7FF;
}

a:hover {
  color: #00B7FF;
  text-decoration: underline;
}

ul {
  margin-top: 50px;
  margin-right: 50px;
  list-style-type: none;
 }

 .show {
   margin-top: 10px;
   list-style-type: none;
  }

.header {
  color: #444;
}

.header:hover {
  text-decoration: none;
  color: #444;
}

.nav-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.edit-user {
  color: gray;
  text-decoration: underline;
  font-weight: normal;
  font-size: 14px;
}

.edit-item {
  color: #64d151;
}

.delete {
  color: #f5989d;
}

.delete:hover {
  color: #f5989d;
  text-decoration: underline;
}

.message {
  font-style: italic;
}

.jumbotron {
  background-image: url("../images/sunflower.jpg");
  padding: 50px;
  color: #444;
  margin-bottom: 0;
}

.btn-secondary {
  background: #FF9D70;
  color: white;
}

.btn-secondary:hover {
  background: #ff8954;
  color: white;
}

.btn-home {
  background: #F46781;
  color: white;
}
.btn-home:hover {
  background: #f24d6b;
  color: white;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.heart {
  color: #E41138;
}

.my-name {
  float: right;
}
