<form method="POST" action="/users/{{userId}}/items/{{itemId}}?_method=PUT">
  <div class="form-group">
    <label>Edit This Cheer Up Message</label>
    <input type="text" class="form-control" name="name" value="{{itemToEdit.name}}"><br>
  </div>
  <input type="submit">
</form>
