<form method="POST" action="/users/{{userId}}/items">
  <div class="form-group">
    <label>Create A New Cheer Up Message</label>
    <input type="text" class="form-control" name="name" placeholder="Cheer Up!"><br>
  </div>
  <input type="submit">
</form>
